{% extends 'admin_index.html' %} {% load static %} {% block content %}
<div class="row " style="padding-top: 20px;">
    <div class="col-12 grid-margin">
        <div class="card ">
            <div class="card-body">
                <div class="row" style="margin-top: -20px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <br>
                        <h4>Aproved Workers </h4><br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()"
                                    placeholder="Search for names.." title="Type in a name" style="color:white;">
                            </div>
                        </form>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th> Name </th>
                                <th> work</th>
                                <th> view profile</th>
                                <th> Dissmiss </th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% if wr %} {% for i in wr %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.fullname}}</td>
                                <td>{{i.contact_no}}</td>
                                <td>
                                    <a href="{% url 'admin_worker_profile_view' i.id %}">
                                        <div class="badge badge-outline-primary" style="width: 105px;">
                                            <i class="mdi mdi-playlist-remove"></i>&nbsp; view profile
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <form action="/admin_aproved_workers/?tid={{i.id}}" method="post">
                                        {%csrf_token%}
                                    <button type="submit" class="btn btn-social-icon-text btn-outline-danger" style="width: 135px;">
                                        <i class="mdi mdi-playlist-check"></i>&nbsp; Dissmiss
                                    </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <h5>Nothing to display...</h5>
                             {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    
</script>

{% endblock %}