{% extends 'admin_index.html' %} {% load static %} {% block content %}

<body>
    <style>
        table tr[data-href] {
            cursor: pointer;
        }
    </style>



    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-top: -20px">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <br>
                            <h4>All Users </h4><br>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()"
                                        placeholder="Search for names.." title="Type in a name" style="color:white;">
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- table start hear -->

                    <div class="table-responsive">
                        <table class="table " id="myTable">
                            <thead>

                                <tr >
                                    <th style="padding-left:15px;">sl no </th>
                                    <th style="padding-left:15px;"> Name </th>
                                    <th style="padding-left:12px;"> location </th>
                                    
                                    <th style="padding-left:28px;">view profile </th>
                                    <th style="padding-left:28px;">Activities </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ur %} {% for i in ur %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td> {{i.fullname}}</td>
                                    <td>{{i.city}}</td>
                                    <td>               
                                        <a href="{% url 'admin_user_profile_view'  i.id %}" class="btn btn-outline-primary mr-2 ml-6  " style="font-size: 15px; font-weight: 100;"> view profile</a> 
                                    </td>
                                    <td>               
                                        <a href="{% url 'admin_user_activity' i.id %}" class="btn btn-outline-success mr-2 ml-6  " style="font-size: 15px; font-weight: 100;">  Activities</a> 
                                    </td>
                                    
                                </tr>
                                {% endfor %} {% else %}
                               <h5>Nothing to display...</h5>
                                {% endif %}
     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    
</script>

{% endblock %}