{% extends 'user_index.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-12 grid-margin">
        <div class="card mt-3 mb-5">
            <div class="card-body">
                <div class="card-body" id="personForm">

                    <div class="row mt-5 ">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 ">
                            <div class="form-group row ">
                                <label class="col-6 col-sm-6 col-md-6 col-lg-5 col-form-label ">Work Type </label>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                                    <select class="badge badge-outline-primary bg-dark text-light " id="workt"
                                        name="wrkt ">
                                        <option style="display: none ">Work Type</option>
                                        {% for i in mem %}
                                        <option value="{{ i.id }}">{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 "></div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 ">
                            <div class="form-group row ">
                                <label class="col-6 col-sm-6 col-md-6 col-lg-5 col-form-label ">Work </label>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                                    <select class="badge badge-outline-primary bg-dark text-light " id="workn"
                                        name="wrkn ">
                                        <option style="display: none ">Work</option>
                                        {% for t in mem1 %}
                                        <option value="{{t.work_name}}">{{t.work_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-5 ">

                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 ">
                            <div class="form-group row ">
                                <label class="col-6 col-sm-6 col-md-6 col-lg-5 col-form-label ">City </label>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                                    <select class="badge badge-outline-primary bg-dark text-light " id="city"
                                        name="city ">
                                        <option style="display: none ">select city</option>
                                        {% for t in m3 %}
                                        <option value="{{t.city}}">{{t.city}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-4 ">
                        <center>
                            <button type="button" class="btn btn-primary btn-icon-text " id="btnSearch"
                                style="width: 100px; ">Search </button>
                        </center>

                    </div>
                </div>
                <div id="hiddendiv">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript ">
$("#btnSearch").click(function() {

const workt = $("#workt").val();
const workn = $("#workn").val();
const city = $("#city").val();
const csrf = document.getElementById('csrfmiddlewaretoken')
console.log(workt,workn,city)
jQuery.ajax({
url: '{% url "user_search_worker_table" %}',
method: 'post',
data: {

    'workt': workt,
    'workn': workn,
    'city': city,

},

success: function(data) {
    $("#hiddendiv").html(data);
}
});
});


function showDiv() {
document.getElementById('hiddendiv').style.display = "block ";
}
</script>

{% endblock %}